@font-face {
    font-family: debata;
    src: url(Debata-Regular.otf);
}

@font-face {
    font-family: uxumregular;
    src: url(uxumregular.otf);
}

@font-face {
    font-family: uxumbold;
    src: url(uxumbold.otf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
}

.rectange-icon{
    border-bottom-right-radius: 300px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50vh;
    background-color: #179E9E;
}

.rectangle-icon2 {
    height: 551.4px;
    position: absolute;
    background-color: #004A4E;
    z-index: -1;
    display: block;
    width: 100vw;
}

.rectangle-icon3 {
    height: 100vh;
    background-color: #003132;
    z-index: -2;
    width: 100vw;
    position: absolute;

}

.logo {
    position: absolute;
    z-index: 2;
    width: 110px;
    height: 110px;
}

.name {
    position: absolute;
    z-index: 2;
    font-family: debata;
    display: inline-block;
    font-size: 40px;
    top: 30px;
    left: 105px;
    color: white;
}

.signup {
    position: absolute;
    z-index: 2;
    justify-self: right;
    font-family: debata;
    color: white;
    right: 184px;
    top: 29px;
    font-size: 23px;
}

.login {
    position: absolute;
    z-index: 2;
    justify-self: right;
    font-family: debata;
    right: 65px;
    top: 30px;
    font-size: 23px;
}

a {
    text-decoration: none;
    color: white;
}

.div {
    position: absolute;
    z-index: 2;
    justify-self: right;
    background-color: #02595D;
    right: 53px;
    top: 27px;
    width: 122px;
    height: 47px;
    border-radius: 14px
}

.head1 {
    position: absolute;
    z-index: 2;
    justify-self: center;
    font-family: uxumbold;
    color: white;
    font-size: 72px;
    top: 100px;
    right: 400px;
}

.head2 {
    position: absolute;
    z-index: 2;
    justify-self: center;
    font-family: uxumbold;
    color: white;
    font-size: 80px;
    top: 171px;
    right: 630px;
}

.circle {
    position: absolute;
    height: 380px;
    width: 380px;
    background-color: #02747A;
    border-radius: 50%;
    right: 10px;
    z-index: 2;
    top: 95px;
}

.png {
    position: absolute;
    z-index: 3;
    height: 330px;
    width: 330px;
    right: 38px;
    top: 21px;
}

.button1{
    left: 603px;
    position: absolute;
    z-index: 2;
    font-family: uxumregular;
    color: white;
    top: 269px;
    font-size: 21px;
    background-color: #02595D;
    padding: 17px 23px;
    border-radius: 12px;
    letter-spacing: 7%;
}